.why-lease {
    padding: 150px 0;
  }
  
  .why-lease__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 40px;
    text-align: center;
  }
  
  .why-lease__item-img{
    margin-bottom: 30px;
  }
  
  .why-lease__item-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  .why-lease__item-text {
    text-align: left;
  }