@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap');

html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

html,
body{
  height: 100%;
}

body{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  color: #151515;
}

a{
  text-decoration: none;
  color: inherit;
}

img{
  max-width: 100%;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container{
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.section-title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
