  
  .slider {
    background-color: black;
    height: 100vh;
  }
  
  .swiper-slide {
    height: 100vh;
    background-position: center center;
    object-fit: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 50px;
    margin: 0;
  }
  
  
  .swiper-pagination-bullet{
    width: 120px;
    height: 3px;
    background-color: #151515;
    border-radius: 0%;
    opacity: 1;
  }
  
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 15px;
  }
  
  .swiper-pagination-bullet-active{
    height: 6px;
    background-color: #fff;
  }

  


  